.jumbotron {
  text-align: center;
  margin-top: 50px;
  color: #FFF600;
  font-weight: 600;
  background-image: url("http://us.123rf.com/450wm/cheskyw/cheskyw1502/cheskyw150200021/36804074-air-drone-carrying-single-pizza-box.jpg?ver=6");
  opacity: .6;
  padding-bottom: 200px;
}

.center {
  text-align: center;
}

body {
  color:  #FFF600;
  background-color: #197BBD;
}

/*#show-order {
  display: none;
  text-align: center;
}

.order {
  cursor: pointer;
  color: #red;
}

.order:hover {
  text-decoration: underline;
}*/
