.jumbotron {
  text-align: center;
  margin-top: 50px;
  background-image: url("http://us.123rf.com/450wm/cheskyw/cheskyw1502/cheskyw150200021/36804074-air-drone-carrying-single-pizza-box.jpg?ver=6");
  opacity: 0.6;
  color: black;
  font-weight: 600;
}


/*.jumbotron  {
  text-align: center;
  margin-top: 50px;
  background-image: url("http://us.123rf.com/450wm/cheskyw/cheskyw1502/cheskyw150200021/36804074-air-drone-carrying-single-pizza-box.jpg?ver=6");
  opacity: 0.6;
}*/
how-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

 body {
  background-image: url("http://www.psdgraphics.com/file/blue-sky-background.jpg");
  opacity: .6;
}
